{% extends "layout.html" %}
{% block pagename %}
    {{ thispagename }}
{% endblock %}
{% block body %}
  <form action="{{ cluburl }}" method=post>
    {{ form.hidden_tag() }}
    <div class="W9emLabel W25emTextBox FloatLeft">
        <p>
          {{ form.shname.label(class='Label') }}
          {% if not displayonly %}
            {{ form.shname(size=25) }}
          {% else %}
            {{ form.shname.data }}
          {% endif %}
        </p>
        <p>
          {{ form.name.label(class='Label') }}
          {% if not displayonly %}
            {{ form.name(size=25) }}
          {% else %}
            {{ form.name.data }}
          {% endif %}
        </p>
        <center><a href={{url_for('manageclubs')}}><input type=button name=cancel value=Cancel /></a>
            {% if action %}
                <input type=submit value={{action}} >
            {% endif %}
        </center>
  </form>
{% endblock %}