{% extends "layout.html" %}
{% from '_formhelpers.html' import render_field %}
{% block pagename %}
    {{ thispagename }}
{% endblock %}
{% block scripts %}
    <script type=text/javascript>
      $(function() {
        $('#club').on('change', function() {
          $.getJSON($SCRIPT_ROOT + '/_getpermissions', {
            clubid: $('#club').val(),
            userid: hidden_userid.value
          }, function(data) {
            $('#admin').prop('checked',data.admin);
            $('#viewer').prop('checked',data.viewer);
          });
          return false;
        });
      });
      function setpermission(checkboxid) {
        $.getJSON($SCRIPT_ROOT + '/_setpermission', {
            clubid: $('#club').val(),
            userid: hidden_userid.value,
            rolename: checkboxid,
            setrole: $('#'+checkboxid).prop('checked')
        });
        return false;
      }
    </script>
{% endblock %}
{% block body %}
  <form action="{{ userurl }}" method=post>
    {{ form.hidden_tag() }}
    <div class="W9emLabel W25emTextBox FloatLeft">
        {{ render_field(form.name,displayonly,size=25) }}
        {{ render_field(form.email,displayonly,size=25) }}
        {% if not displayonly %}
            {{ render_field(form.password,size=25) }}
            {{ render_field(form.owner) }}
            {% if not newuser %}
                {{ render_field(form.club) }}
                {{ render_field(form.admin,onClick='setpermission("admin")') }}
                {{ render_field(form.viewer,onClick='setpermission("viewer")') }}
            {% endif %}
        {% endif %}
        <center>
        {% if cancancel %}
            <input type=submit name=whichbutton value=Cancel />
        {% endif %}
        {% if action %}
            <input type=submit name=whichbutton value="{{action}}" >
        {% endif %}
        </center>
  </form>
{% endblock %}