/*body            { font-family: sans-serif; background: #eee; } */
.body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 5px;
  padding: 0;
  position: absolute;
  left: 160px;
  padding-left:15px;
  padding-right:15px;
  width:850px;
  float:left; 
}

.heading {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 0px;
  padding: 0;
  padding-left:5px;
  padding-right:5px;
  width:1000px;
  float:top; 
}

p
{
    line-height: 0em;
    margin: 0 0 1em 0;
    padding: 0;
}
p:last-child
{
    margin: 0;
}

a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: Georgia, serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; width: 35em; border: 1px solid #ccc;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.pagename       { text-align: center; 
                  margin-bottom: 1em; background: #fafafa;
                  text-transform: uppercase;
                  margin: 0;
                  font: bold 1em verdana,arial,sans-serif;
                  color: #377ba8; font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em;
                  padding-bottom: 0.3em; padding-right: 0.3em; 
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }


#wrapper {
  width:1000px;
}

#rightside {
  width:150px;
  float:left;
}
#smallDiv2 {
  padding-top:20px;
  text-align:right;
}
#smallDiv3 {
  padding-top:5px;
  text-align:right;
}

/* The #navigation is the full navigation which is an unordered list */
#navigation {
    margin: 5px; 
    padding: 0; 
    list-style: none; 
    white-space: nowrap; /* This is optional but prevents from line wrapping */
    text-align: left; 
    width: 150px; /* Width of the top level items */
    background: #EFFBF5;
    border: 1px solid #377ba8;
    float: left; /* Floats navigation to the left */
}

/* The list items/links, removes the default styles for list items and makes them look like a menu by removing the bullets */
#navigation  li {
    margin: 0; 
    padding: 0; 
    list-style: none;
}

#navigation  li {
    display: list-item;
    text-transform: uppercase; /* Converts all letters to capitals */
    color: #377ba8; /* Changes font colour */
}

/* When submenus are not supposed to show, this hides them */
#navigation ul {
    position: absolute; 
    left: -9999px;
}

#navigation  a {
    display: block; /* Makes the entire link (not just the text, as there is padding on the anchor) clickable */
    font: bold 12px verdana,arial,sans-serif; 
    color: #377ba8;
    line-height: 25px; /* Sets the height of the line (adds padding to the font until it reaches right height) */
    text-decoration: none; /* Gets rid of underlines in the link */
    padding: 0 20px 0 10px; /* Padding to the link */
} 

/* Styling for the optional in menu headings */
#navigation h3 {
    margin: 0px;
    font-size: 0.9em;
    text-align: center; /* Note the American spelling used throughout css */
}

/* This styling happens when a mouse hovers over the link */
#navigation li a:hover {
    background-color: #09c; 
    color: #fff;
} 

/* This styling happens to the submenu links when a top level link is hovered over  */
#navigation  li:hover > a {
    background-color: #09c; 
    color: #fff;
}

/* This styling happens to the submenu ul when the top level list items are hovered over */
#navigation li:hover > ul {
    min-width: 130px;
    padding: 5px;
    left: 131px; /* For the example I needed the submenu to the right of the main menu, you may need to change this if you change the width */
    margin-top: -22px; /* Also for the example I used this to align the submenu with the link in the top level menu */
    border: 1px solid #09C;
    background-color: white;
    z-index: 999;
    position: absolute; /* This makes the position set by css rather than where it thinks it should go */
}

label
{
    margin-right: 0.5em;
}
label.Label
{
    display: inline-block;
    font-weight: bold;
    padding: 3px 2px 2px 2px;
    text-align: right;
}
.W7emLabel label.Label { width: 7em; }
.W7emLabel .FieldDesc { margin-left: 8em; }

.W9emLabel label.Label { width: 9em; }
.W9emLabel .FieldDesc { margin-left: 10em; }

.W11emLabel label.Label { width: 11em; }
.W11emLabel .FieldDesc { margin-left: 13em; }
.W11emLabel div.FormPanel div.FormValue { margin-left: 12em; }

.W9emTextBox input[type="date"],
.W9emTextBox input[type="email"],
.W9emTextBox input[type="text"],
.W9emTextBox input[type="url"]
{
    width: 9em;
}

.W15emTextBox input[type="date"],
.W15emTextBox input[type="email"],
.W15emTextBox input[type="text"],
.W15emTextBox input[type="url"],
.W15emTextBox input[type="password"]
{
    width: 15em;
}

.W20emTextBox input[type="date"],
.W20emTextBox input[type="email"],
.W20emTextBox input[type="text"],
.W20emTextBox input[type="url"],
.W20emTextBox input[type="password"]
{
    width: 20em;
}

.W25emTextBox input[type="date"],
.W25emTextBox input[type="email"],
.W25emTextBox input[type="text"],
.W25emTextBox input[type="url"]
{
    width: 25em;
}

.FloatLeft  { float: left; }
.FloatRight { float: right; }
.Hidden     { display: none; }

.TextBottom { vertical-align: text-bottom; }
.TextCenter { text-align: center; }
.TextRight  { text-align: right; }

table.DataList
{
    border-collapse: collapse;
}

table.DataList td,
table.DataList th
{
    padding: 0.5em;
}
table.DataList th
{
    background: linear-gradient(#F4F6F8, #E3E7ED) repeat scroll 0 0 transparent;
    background-color: #E3E7ED;
    border-bottom: 1px solid #CED4DC;
    cursor: default;
}
table.DataList td
{
    vertical-align: top;
}
table.DataList img.icon
{ height: 1em; vertical-align: middle; text-align: center; }

table.DataList a { display: block; text-decoration:none; }

table.DataList tr:nth-child(odd)
{
    background-color: #F4F8FF;
}
table.DataList tr:first-child
{
    background-color: white;
}

table.DataList tr:hover .X
{
    visibility: visible;
}
table.DataList tr:hover td
{
    background-color: #ECF0FF;
    cursor: pointer;
}
